.app-header {
  background-color: lightblue;
  color: black;
  padding: 1em;
}

nav{
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 3px;
  align-items: center;
}


.logo{
margin-right: auto;
}




@media(max-width: 720px) {
  .app-header {
    background-color: var(--clr3);
    color: var(--secondary-clr2);
  }
}
