.home-page {
    height: 70vh;
    text-align: center;
}

.home-page h1 {
    margin-top: 100px;
    font-size: 3rem;
}

.home-menu img {
    width: 250px;
}

.home-menu img {
    width: 250px;
}

.home-menu {
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}