.add-note-form {
    width: 600px;
    margin: auto;
    padding: 10px 20px;
}

.add-note-form {
    margin-top: 10px;
    box-shadow: 1px 2px 5px 2px rgb(186, 186, 186);
    border-radius: 20px;
}

.add-note-form input {
    border: none;
    outline: none;
    font-size: 20px;
}

/* .add-note-form button {
    width: 5em;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    align-self: flex-end;
} */

.add-note-shown {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note-type-btns button {
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 5px;
}

.note-type-btns.open {
    float: left;
}

.note-type-btns i {
    font-size: 1.5em;
}

.note-type-btns:hover {
    opacity: 0.7;

}


.add-title-input.open {
    display: block;
}

.add-save-btn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.add-note-btn {
    padding: 5px;
    font-size: 1.2em;
    background-color: white;
    border: 1px lightgray solid;
    border-radius: 20px;
}

.add-note-btn.open {
    display: block;
}

.add-note-btn:hover {
    background-color: lightseagreen;
    color: white;
}

.upload-img-input {
    background-color: white;
    font-size: 1.3em;
}