.color-modal {
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px black;
    padding: 20px;
}

.color-ul {
    display: flex;
    padding: 0;
}


.color-li {
    background-color: white;
    border-radius: 50%;
    padding: 5px 20px;
}


.color-li:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px rgb(0, 0, 0);
}

.exit-btn {
    position: relative;
    background-color: rgb(193, 193, 193);
    color: rgb(255, 255, 255);
    padding: 5px 10px
}

.exit-btn:hover {
    box-shadow: 1px 1px 1px 0px rgb(196, 196, 196);
    color: red;
}