.add-note-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin: auto;
    padding: 40px;
}

.add-note-form {
    margin-top: 10px;
    box-shadow: 1px 2px 5px 2px rgb(186, 186, 186);
    border-radius: 20px;
}

.add-note-form input {
    border: none;
    outline: none;
    font-size: 20px;
}



.add-note-form button {
    width: 5em;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    align-self: flex-end;
}