.note-list-container {
    width: 100vw;
    height: 100vh;
    font-family: Roboto;
    font-weight: 700;
    color: black;
}

.note-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.note-li {
    background-color: rgb(253, 255, 255);
    padding: 10px;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    border-radius: 20px;
    border: 2px black solid;

}

.note-container {
    padding: 15px;
}

.note-li:hover {
    background-color: rgb(194, 194, 194);
}

.note-btns i:hover {
    cursor: pointer;
    opacity: 0.7;
}

.note-btns {
    color: white;
}

.note-btns.show {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}