.back-route {
    font-size: 40px;
    color: blue;
}

.edit-mode {
    background-color: black;
}

.edit-modal {
    display: none;
}

.edit-modal.open {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: white;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}


.edit-modal button {
    float: right;
    border: 1px gray solid;
    padding: 5px;
    font-size: 22px;
    margin-right: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

.edit-modal button:hover {
    background-color: lightseagreen;
    color: white;
}

.edit-modal-img {
    width: 300px;
    height: 300px;
}

.edit-title-input {
    width: 100%;
    outline: none;
    font-size: 1.5em;
    border: none;
}

.edit-txt-input {
    outline: none;
    border: none;
    font-size: 1.2em;
}

.edit-modal-img {
    margin: auto;
    margin-bottom: 50px;
}

.upload-img-editor {
    border: none;
    background-color: white;
}

.edit-modal-btns img {
    width: 50%;
    margin: auto;
}