.note-list-container {
    background-color: gray;
    padding: 20px;
    font-family: Roboto;
    font-weight: 700;
    color: black;
}

.note-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

}

.note-li {
    background-color: rgb(253, 255, 255);
    padding: 10px;
    margin: 20px;
    flex-direction: column;
    border-radius: 20px;
    border: 2px black solid;

}

.close-note-btn {
    float: right;
    border-radius: 50%;
    background-color: red;
    color: white;
}