.email-preview{
    display: flex;
    gap: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(128, 128, 128, 0.256);
}

.unRead{
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: black;
}

.read{
    background-color: #f2f6fc;
}