.email-preview{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 1px;
    cursor: pointer;
    border-bottom: 1px solid rgba(128, 128, 128, 0.256);
}

.email-preview:hover{
  box-shadow: inset 0px -1px 0 #877b7b ;

}
.unRead{
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: black;
}

.read{
    background-color: #f2f6fc;
}