.email-details{
    background-color:#f2f6fc;
    display: flex;
    height: 100%;
    width: 80vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-items: flex-start;
}
.email-sender{
    margin-right: auto;
}