.folder-List{
    width: 10vw;
    display: flex;
    margin-bottom: 20px;

}

.folder-list-items{
    width: 14vw;
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin-top: 14px;
    gap: 20px;
    
}